
@{
    ViewBag.Title = "Ex1";
}

<h2>Exercício 1</h2>

<form action="ResEx1" method="post">

    <input type="text" name="txtn1" value="" />
    <br />
    <input type="text" name="txtn2" value="" />
    <br />
    <input type="submit" name="btnOk" value="Calcular" />
</form>

