
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Exercício 1", "Ex1", "Teste")
<br />
@Html.ActionLink("Exercício 2", "Ex2", "Teste")
<br />
@Html.ActionLink("Exercício 3", "Ex3", "Teste")

